<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row" [ngClass]="{'has-danger':name.touched && (name.errors?.minlength || name.errors?.required)}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               minlength = "5"
               [(ngModel)]="usuario.nombre"
               required
               #name="ngModel"
               >
               <div class="form-control-feedback" *ngIf="name.errors?.required">
                 This field is required
               </div>
               <div class="form-control-feedback" *ngIf="name.errors?.minlength">
                 at least {{name.errors.minlength.requiredLength}} characters
               </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               minlength = "5"
               [(ngModel)]="usuario.apellido"
               required
               #apellido="ngModel"
               >
               <div *ngIf="apellido.errors?.required">
                 This field is required
               </div>
               <div *ngIf="apellido.errors?.minlength">
                 at least {{apellido.errors.minlength.requiredLength}} characters
               </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             minlength = "5"
            [(ngModel)]="usuario.correo"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            #correo="ngModel"
            >
            <div *ngIf="correo.errors?.required">
              This field is required
            </div>
            <div *ngIf="correo.errors?.pattern">
                Format invalid
            </div>

    </div>
  </div>

  <div class="form-group row" [ngClass]="{'has-danger':name.touched && (name.errors?.minlength || name.errors?.required)}">
    <label class="col-2 col-form-label">País</label>
    <div class="col-8">
      <select [(ngModel)]="usuario.pais"
        class="form-control" name="pais">
        <option value="">Seleccione un país</option>
        <option *ngFor="let pais of paises" [value]="pais.nombre">{{ pais.nombre }}</option>
      </select>
    </div>
  </div>


  <div class="form-group row" [ngClass]="{'has-danger':name.touched && (name.errors?.minlength || name.errors?.required)}">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">
          <label *ngFor="let s of sexos" class="custom-control custom-radio">
          <input [(ngModel)]="usuario.sexo"
                  [value]="s"
                  type="radio"
                  name="sexo"
                  class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{s}}</span>
          </label>
      <!-- <label class="custom-control custom-radio">
          <input [(ngModel)]="usuario.sexo"
                  value="Mujer"
                  type="radio"
                  name="sexo"
                  class="custom-control-input">

            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Mujer</span>
          </label> -->
    </div>
  </div>

  <div class="form-group row" [ngClass]="{'has-danger':name.touched && (name.errors?.minlength || name.errors?.required)}">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-8">
      <label class="custom-control custom-checkbox">
        <input [(ngModel)]="usuario.acepta"
            name="acepta"
            type="checkbox"
            class="custom-control-input"
            required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> Acepta las condiciones</span>
      </label>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!---->
      <button [disabled]="forma.invalid" type="submit" class="btn btn-outline-primary"> <!--forma.valid -->

        Guardar
      </button>
    </div>
  </div>

<pre>
  {{usuario | json}}
</pre>


</form>
